.env
dist
data
nginx-data
public

.vscode

romeo-back/.vscode/settings.json
.DS_Store

romeo-back/jobs/migrations/

romeo-back/customers/migrations/

romeo-back/users/migrations/

romeo-back/photographers/migrations/

romeo-back/notification/migrations/